name: publish_r

on:
  # Permit calling the workflow from outside (https://github.com/actions/runner/discussions/1884)
  workflow_call:
    inputs:
      dry_publish:
        description: 'Dry publish (no upload)'
        type: boolean
        required: false
        default: true
  # Permit manual trigger
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Manual'
        required: false
        default: ''
      dry_publish:
        description: 'Dry publish (no upload)'
        type: boolean
        required: false
        default: false

env:
  R_VERSION : "4.5.2"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup R Version
      uses: r-lib/actions/setup-r@v2
      with:
        r-version: ${{env.R_VERSION}}

#    - name: Install R dependencies
#      run: |
#        Rscript -e "install.packages (
#          c('ggplot2', 
##            'ggpubr', 
#            'ggnewscale'),
#            repos='https://cloud.r-project.org/')"

    - uses: r-lib/actions/setup-r-dependencies@v2
      with:
        packages: ggplot2, ggpubr, ggnewscale

    - name: Install gstlearn
      run: |
        Rscript -e "install.packages ('gstlearn',
            repos='https://soft.mines-paristech.fr/cran')"

    - name: Build the package
      run: |
        cd R
        R CMD INSTALL --build --no-multiarch .
        cd ..
        echo "MY_PKG=$(ls R/minigst_*.tar.gz)" >> "$GITHUB_ENV"

    - uses: actions/upload-artifact@v4
      with:
        name: r-package
        path: ${{env.MY_PKG}}

  test:
    needs: build
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - uses: actions/download-artifact@v4
      with:
        name: r-package

    - name: Setup R Version
      uses: r-lib/actions/setup-r@v2
      with:
        r-version: ${{env.R_VERSION}}

    - uses: r-lib/actions/setup-r-dependencies@v2
      with:
        packages: ggplot2, ggpubr, ggnewscale

    - name: Install gstlearn
      run: |
        Rscript -e "install.packages ('gstlearn',
            repos='https://soft.mines-paristech.fr/cran')"

    - name: Install R package
      run: |
        R CMD INSTALL "./$(ls *.tar.gz)"

    - name: Test installed R package
      run: |
        Rscript -e "library(minigst); print(paste('minigst version:', packageVersion('minigst')))"

  publish:
    needs: test
    if: ${{inputs.dry_publish == false}}

    runs-on: ubuntu-latest

    steps:
      # Upload packages to pypi
      - uses: fabien-ors/cran-publish-action@v4
        with:
          host: ${{secrets.CG_HOST}}
          username: ${{secrets.CG_USR}}
          password: ${{secrets.CG_PWD}}
          repo-path: "/var/www/html/cran"

      # Delete the artifacts (for freeing storage space under github)
      - uses: geekyeggo/delete-artifact@v5
        with:
          name: r-package

