name: publish_r

on:
  # Permit calling the workflow from outside (https://github.com/actions/runner/discussions/1884)
  workflow_call:
    inputs:
      dry_publish:
        description: 'Dry publish (no upload)'
        type: boolean
        required: false
        default: true
  # Permit manual trigger
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Manual'
        required: false
        default: ''
      dry_publish:
        description: 'Dry publish (no upload)'
        type: boolean
        required: false
        default: false

env:
  R_VERSION : "4.5.2"

jobs:
  build:
    runs-on: ubuntu-latest
    outputs:
      # https://docs.github.com/en/actions/using-jobs/defining-outputs-for-jobs
      project_full_version: ${{ steps.main_step.outputs.PROJECT_FULL_VERSION }}

    steps:
    - uses: actions/checkout@v4

    - name: Setup R Version
      uses: r-lib/actions/setup-r@v2
      with:
        r-version: ${{env.R_VERSION}}

    - uses: r-lib/actions/setup-r-dependencies@v2
      with:
        packages: ggplot2, ggpubr, ggnewscale

    - name: Install gstlearn
      run: |
        Rscript -e "install.packages ('gstlearn',
            repos='https://soft.mines-paristech.fr/cran')"

    - name: Build the package
      run: |
        cd R
        R CMD build .
        cd ..
        echo "MY_PKG=$(ls R/minigst_*.tar.gz)" >> "$GITHUB_ENV"

    - name: Get project version
      id: main_step
      run: |
        cd R
        PROJECT_FULL_VERSION=$(grep Version DESCRIPTION | cut -d : -f2 | sed 's/^[[:space:]]*//g')
        echo "PROJECT_FULL_VERSION=${PROJECT_FULL_VERSION}" >> "$GITHUB_OUTPUT"

    - name: Install Python dependencies for README generation
      run: |
        python3 -m pip install grip

    - name: Generate R Readme file using grip
      run: |
        python3 -m grip R/README.md --export R/R_README.html
        echo "R_README_FILE=$(ls R/R_README.html)" >> "$GITHUB_ENV"

    - uses: actions/upload-artifact@v4
      with:
        name: r-readme
        path: ${{env.R_README_FILE}}
        
    - uses: actions/upload-artifact@v4
      with:
        name: r-package
        path: ${{env.MY_PKG}}

  test:
    needs: build
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - uses: actions/download-artifact@v4
      with:
        name: r-package

    - name: Setup R Version
      uses: r-lib/actions/setup-r@v2
      with:
        r-version: ${{env.R_VERSION}}

    - uses: r-lib/actions/setup-r-dependencies@v2
      with:
        packages: ggplot2, ggpubr, ggnewscale

    - name: Install gstlearn
      run: |
        Rscript -e "install.packages ('gstlearn',
            repos='https://soft.mines-paristech.fr/cran')"

    - name: Install R package
      run: |
        R CMD INSTALL "./$(ls *.tar.gz)"

    - name: Test installed R package
      run: |
        Rscript -e "library(minigst); print(paste('minigst version:', packageVersion('minigst')))"

  publish:
    needs: test
    if: ${{inputs.dry_publish == false}}

    runs-on: ubuntu-latest

    steps:
      # Upload packages to CRAN-like repository
      - uses: fabien-ors/cran-publish-action@v4
        with:
          host: ${{secrets.CG_HOST}}
          username: ${{secrets.CG_USR}}
          password: ${{secrets.CG_PWD}}
          repo-path: "/var/www/html/cran"
          pattern: "r-package"

      - env:
          PROJECT_FULL_VERSION: ${{needs.build.outputs.project_full_version}}
        uses: fabien-ors/files-publish-action@v3
        with:
          host: ${{ secrets.CG_HOST }}
          username: ${{ secrets.CG_USR }}
          password: ${{ secrets.CG_PWD }}
          dest-path: "/var/www/html/minigst/${{env.PROJECT_FULL_VERSION}}"
          pattern: "R_README.html"

      # Delete the artifacts (for freeing storage space under github)
      - uses: geekyeggo/delete-artifact@v5
        with:
          name: r-package

